.gradle/
.idea/
build/
*.iml
local.properties

# JVM heap dumps
*.hprof
# Kotlin incremental build cache
.kotlin/


# Written by the CI CVE check only (.github/security/dependency-locking.init.gradle)
gradle.lockfile
buildscript-gradle.lockfile
